<h1 id="titulo"> EJERCICIO PIPES </h1>

<table class="table table-success table-striped table-bordered border-dark">
    <tbody class="table-group-divider">
        <tr>  
            <th>Variable</th>
            <th>PIPE</th>
            <th>Resultado</th>
        </tr>
    
        <tr>
            <td>{{nombre}}</td>
            <td>uppercase</td>    
            <td>{{nombre | uppercase}}</td>   
        </tr>
        <tr>
            <td>{{nombre}}</td>
            <td>lowercase</td>    
            <td>{{nombre | lowercase}}</td>   
        </tr>
        <tr>
            <td>{{nombre}}</td>
            <td>slice</td>    
            <td>{{nombre | slice : 2}}</td>   
        </tr>
        <tr>
            <td>{{PI}}</td>
            <td>number</td>    
            <td>{{PI | number}}</td>   
        </tr>
        <tr>
            <td>{{PI}}</td>
            <td>number</td>    
            <td>{{PI | number}}</td>   
        </tr>
        <tr>
            <td>{{porcentaje}}</td>
            <td>percent</td>    
            <td>{{porcentaje | percent}}</td>   
        </tr>
        <tr>
            <td>{{salario}}</td>
            <td>currency</td>    
            <td>{{salario | currency}}</td>   
        </tr>
        <tr>
            <td>{{salario}}</td>
            <td>currency</td>    
            <td>{{salario | currency}}</td>   
        </tr>
    </tbody>
  
</table>
